<section id="peoplelistletterfilters">
  {{#each letter in letters}}
    <p class="letterfilter" {{action "scrollToLetter" letter target="view"}}>
      {{letter}}
    </p>
  {{/each}}
</section>

<ul id="peoplelist">
  {{#each group in groups}}
    <li {{bindAttr class="view.firstLetterClassName"}}>{{group.letter}}</li>
    {{#each person in group.people}}
      <li class="peoplelistperson">
        <div class="peoplelistpersontag">
          <span {{bindAttr class="person.classTag"}}>{{person.type}}</span>
        </div>
        <div class="peoplelistpersonname">{{person.name}}</div>
        <div class="peoplelistpersonphonenumber">867-5309</div>
        <div class="peoplelistpersonemail">{{person.firstName}}@{{person.lastName}}.com</div>
      </li>
    {{/each}}
  {{/each}}
</ul>
