<div class="kane-datepicker-container">
  <header>
    <div class="button-header button-left" {{action "changeMonth" -1}}>left</div>
    <div class="current-month">{{currentMonthName}}</div>
    <div class="button-header button-right" {{action "changeMonth" 1}}>right</div>
  </header>

  <table class="calendar">
    <tr>
    {{#each dayNames}}
      <th>{{this}}</th>
    {{/each}}
    </tr>

    {{! some entries may be null so we must account for them }}
    {{#each week in weeks}}
      <tr>
      {{#each day in week}}
        {{#if day}}
          <td class="valid-day" {{action "selectDate" day}}>{{day.date}}</td>
        {{else}}
          <td class="invalid-day"></td>
        {{/if}}
      {{/each}}
      </tr>
    {{/each}}

  </table>
</div>
