<div class="container">
  <div class="row">
    <div class="small-1 columns">
      <a class="button" {{action "previousMonth"}}>left</a>
    </div>

    <div class="small-5 columns">
      <h6>{{currentMonthName}}</h6>
    </div>

    <div class="small-1 columns">
      <a class="button" {{action "nextMonth"}}>right</a>
    </div>

    <div class="small-5 columns"></div>
  </div>

  <div class="row">
    <ul class="small-block-grid-12">
      {{#each dayName}}<li>{{this}}</li>{{/each}}
    </ul>
  </div>

  {{! some entries may be null so we must account for them }}
  {{#each week in weeks}}
  <div class="row">
    <ul class="small-block-grid-12">
      {{#each day in week}}
        {{#if day}}
          <li class="panel" {{action "selectDate" day}}>{{day.date}}</li>
        {{else}}
          <li></li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
  {{/each}}
</div>
