<div class="row">
  <div class="small-1 large-1 columns">
    <a href="#" class="button" {{action "previousMonth"}}>left</a>
  </div>

  <div class="small-1 large-offset-2 small-offset-2 large-1 columns">
    <p>{{currentMonthName}}</p>
  </div>

  <div class="small-1 large-1 columns">
    <a href="#" class="button" {{action "nextMonth"}}>right</a>
  </div>
</div>

<div class="row">
  <ul class="small-block-grid-12 large-block-grid-12">
    {{#each dayName}}<li>{{this}}</li>{{/each}}
  </ul>
</div>

{{! some entries may be null so we must account for them }}
{{#each week in weeks}}
<div class="row">
  <ul class="small-block-grid-12 large-block-grid-12">
    {{#each day in week}}
      {{#if day}}
        <li class="panel" {{action "selectDate" day}}>{{day.date}}</li>
      {{else}}
        <li></li>
      {{/if}}
    {{/each}}
  </ul>
</div>
{{/each}}
