<header id="pageheader">

  <h1 id="title">Agent Run</h1> 

  <div id="homenav" {{action "goHome"}} >Home</div>
  <div id="peoplenav" {{action "goPeople"}} >People</div>

  {{view "AR.SearchView" 
    candidatesBinding="controllers.persons"
  }}

  <div id="logout" {{action "logout"}} >Log Out</div>

</header>

<div id="subheader">
  <div id="back" {{action "goBack"}}><</div>
  {{outlet subheader}}
</div>

<section id="main">
  {{outlet main}}
</section>

<footer>
</footer>
