<section id="clientlist">
  <header id="clientlistheader">
    <div class="clientlistheaderfillerleft"></div>

    <nav id="showall" class="clientlistfilter">
      ALL
    </nav>
    <nav id="showleads" class="clientlistfilter activeclientfilter">
      LEADS 
    </nav>
    <nav id="showclients" class="clientlistfilter">
      CLIENTS 
    </nav>

    <div class="clientlistheaderfillerright"></div>
  </header>

  <section id="clientlistsubheader">
  
    {{view "AR.SearchView" 
      candidatesBinding="controller.content"
      classNames="clientlistsearch"
    }}
    <div id="clientsaddperson" {{action "addPerson"}} >+ New Person</div>

  </section>
  
  <section id="clientlistletterfilters">
    {{#each letter in view.letters}}
      <p class="letterfilter" {{action "changeActiveLetter" letter target="view"}}>
        {{letter}}
      </p>
    {{/each}}
  </section>

  <ul id="clientlist">
    {{#each client in sortedByLastName}}
      {{#if client.isFirst}}
        <li {{bindAttr class="view.firstLetterClassName"}}>{{client.lastNameFirstLetter}}</li>
      {{/if}}
      <li class="clientlistclient">
        <div class="clientlistclienttag">
          <span {{bindAttr class="client.classTag"}}>{{client.type}}</span>
        </div>
        <div class="clientlistclientname">{{client.name}}</div>
        <div class="clientlistclientphonenumber">867-5309</div>
        <div class="clientlistclientemail">{{client.firstName}}@{{client.lastName}}.com</div>
      </li>
    {{/each}}
  </ul>
</section>
