<div id="recentactivity">

  <header id="homeheader">
    <h2 id="title">RECENT ACTIVITY</h2>
    <div id="addperson" {{action "addPerson"}} >+ New Person</div>
    <div id="addquote" {{action "addQuote"}} >+ New Quote</div>
  </header>

  <table id="clientlist">

    <tr id="clientlistheaders">
      <th class="clientlistheader">View All People</th>
      <th class="clientlistheader">View All Types</th>
      <th class="clientlistheader">
        {{view Ember.Select
          contentBinding="controller._statuses"
          valueBinding="controller._statusFilter"
        }}
      </th>
      <th class-"clientlistheader">
        {{view "AR.DropdownView"}}
      </th>
    </tr>

    {{each controller.filteredClients itemViewClass="AR.ActivityItemView"}}

  </table>

</div>

<div id="reminders">

</div>

{{outlet modal}}
