<div id="recentactivity">

  <header id="activityheader" class="homeheader">
    <h2 class="paneltitle">RECENT ACTIVITY</h2>
    <div id="addperson" {{action "addPerson"}} >+ New Person</div>
    <div id="addquote" {{action "addQuote"}} >+ New Quote</div>
  </header>

  <table id="activitylist">

    <tr id="activitylistheaders">

      <th class="activitylistheader">
        {{view "AR.DropdownView" 
          templateName="home/statusdropdown"
          optionsBinding="controller.filterManager.clientFilters"
          summaryBinding="controller.filterManager.clientFilterSummary"
        }}
      </th>

      <th class="activitylistheader">
        {{view "AR.DropdownView" 
          templateName="home/statusdropdown"
          optionsBinding="controller.filterManager.typeFilters"
          summaryBinding="controller.filterManager.typeFilterSummary"
        }}
      </th>

      <th class="activitylistheader">
        {{view "AR.DropdownView" 
          templateName="home/statusdropdown"
          optionsBinding="controller.filterManager.statusFilters"
          summaryBinding="controller.filterManager.statusFilterSummary"
        }}
      </th>
    </tr>

    {{each controller.filteredFlows itemViewClass="AR.ActivityItemView"}}

  </table>

</div>

<div id="reminders">

  <header id="reminderheader" class="homeheader">
    <h2 class="paneltitle">TODAY'S REMINDERS</h2>
    <div id="addreminder" {{action "addReminder"}} >+ New Reminder</div>
  </header>

  <div class="daywidget">
    <div class="daywidgetcomponent previousday" {{action "previousDay"}}>
      <
    </div>
    <div class="daywidgetcomponent currentday">
      {{dayName activeDay}}
      <br>
      {{monthDayYear activeDay}}
    </div>
    <div class="daywidgetcomponent nextday" {{action "nextDay"}}>
      >
    </div>
  </div>

  <ul id="reminderlist">
  {{#each reminder in controller.filteredReminders}}
    <li class="reminder">
      <div class="reminderdetails">
        <div class="remindernamebox">
          <span class="remindertag">TAG</span>
          <span class="reminderclientname">{{reminder.client.name}}</span>
        </div>
        {{input type="checkbox" classNames="remindercheck"}}
        <div class="remindertime">{{timeToday reminder.targetDateTime}}</div>
      </div>

      <div class="remindernote">
        {{reminder.notes}}
      </div>

    </li>
  {{/each}}
  </ul>

  

</div>

{{outlet modal}}
