<header id="clientlistheader">
  <div class="clientlistheaderfillerleft"></div>

  <nav id="showall" class="clientlistfilter activeclientfilter" {{action "showAll"}}>
    ALL
  </nav>
  <nav id="showleads" class="clientlistfilter" {{action "showLeads"}}>
    LEADS 
  </nav>
  <nav id="showclients" class="clientlistfilter" {{action "showClients"}}>
    CLIENTS 
  </nav>

  <div class="clientlistheaderfillerright"></div>
</header>

<section id="clientlistsubheader">

  {{view "AR.SearchView" 
    candidatesBinding="controller.content"
    classNames="clientlistsearch"
  }}
  <div id="clientsaddperson" {{action "addPerson"}} >+ New Person</div>

</section>
