<section id="clientlistletterfilters">
  {{#each letter in view.letters}}
    <p class="letterfilter" {{action "changeActiveLetter" letter target="view"}}>
      {{letter}}
    </p>
  {{/each}}
</section>

<ul id="clientlist">
  {{#each group in controller.groups}}
    <li {{bindAttr class="view.firstLetterClassName"}}>{{group.letter}}</li>
    {{#each client in group.clients}}
      <li class="clientlistclient">
        <div class="clientlistclienttag">
          <span {{bindAttr class="client.classTag"}}>{{client.type}}</span>
        </div>
        <div class="clientlistclientname">{{client.name}}</div>
        <div class="clientlistclientphonenumber">867-5309</div>
        <div class="clientlistclientemail">{{client.firstName}}@{{client.lastName}}.com</div>
      </li>
    {{/each}}
  {{/each}}
</ul>
