<tr class="activity">
  <td class="activityperson">
    <span {{bindAttr class="view.classTag"}}>{{view.personType}}</span>
    <span class="activitypersonname">{{person.name}}</span>
  </td>

  <td class="activityinsurancetype">
    <span>{{insuranceType.name}}</span>
  </td>

  <td class="activitystatus">
    <span>{{status}}</span>
  </td>
</tr>
